.share {
  padding: 1.5rem 0;

  &__container {
    padding: 1.6rem;
    border: 1px solid #d1d1d1;

    text-align: center;

    @include mobile {
      padding-top: 0;
    }
  }

  .text1 {
    margin-bottom: 1.5rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: .4rem;

    a {
      display: block;
      width: 2.4rem;
      height: 2.4rem;

      svg,
      span {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        background-size: 100% 100% !important;
      }
    }
  }
}