<section class="consult">
  <h2 class="consult__title">Юридические консультации</h2>

  <div class="text1">
    <p>
      Стоимость консультаций для льготных слоев населения (пенсионеры, инвалиды,
      многодетные матери и др.) - всего 50% от стоимости по прейскуранту, а по
      предварительной записи по семейным и жилищным вопросам - бесплатно.
    </p>
    <p>
      Сегодня многие фирмы предлагают юридические услуги, почему Вам стоит
      обратиться именно к нам?
    </p>
    <p>
      Чем мы лучше других? Почему вообще надо обращаться к юристу, адвокату? Нам
      есть что ответить!
      <a href="#">См. далее... </a>
    </p>

    <span
      >Бесплатно мы даем юридические консультации по следующим вопросам:</span
    >

    <ul>
      <li>
        Бесплатно мы даем юридические консультации по следующим вопросам:
        регистрация ООО;
      </li>
      <li>сделки с недвижимостью;</li>
      <li>заключение договоров ренты/пожизненного содержания с иждивением;</li>
      <li>наследственные и семейные вопросы;</li>
      <li>иные вопросы в часы работы студентов (по записи).</li>
    </ul>

    <p>
      Юристы и адвокаты центра дают советы по всем отраслям права, экспертные
      заключения или находят пути решения по различным юридическим ситуациям.
      Работаем более 16 лет.
    </p>
  </div>
  <div class="consult__frame">
    <iframe src="" frameborder="0"></iframe>
  </div>

  <div class="text1">
    <p>
      Гарантия грамотности консультации или иных услуг центра: юристы и адвокаты
      имеют специализации по разным вопросам, приём ведут одновременно несколько
      специалистов, каждый работает в своей отрасли. Разбивка на специализации
      даёт возможность глубинного изучения каждой темы. При обращении клиента
      за помощью, дежурный юрист рекомендует именно того специалиста, который
      лучше всего знает нужный вопрос. Поэтому, при обращении в наш центр
      консультация или услуга судебного или внесудебного характера
      осуществляется квалифицированным специалистом.
    </p>
  </div>
</section>
