<aside class="dropdown">
  <ul>
    <li class="">
      <span>Консультация</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li class="">
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
    <li>
      <span>Для граждан</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li>
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
    <li>
      <span>Для юридических лиц</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li>
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
    <li>
      <span>Полезная информация</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li>
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
    <li>
      <span>О компании</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li>
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
    <li>
      <span>Онлайн услуги</span>
      <ul>
        <li>
          <a href="#"
            >Юридическая консультация жителям Санкт-Петербурга и Ленинградской
            области</a
          >
        </li>
        <li>
          <a href="#">Экспресс-консультация</a>
        </li>
        <li>
          <a href="#"
            >Юридическая консультация жителям Московского, Петроградского,
            Фрунзенского района Санкт-Петербурга</a
          >
          <ul>
            <li>
              <a href="#">Юридическая консультация на Гражданском 22</a>
            </li>
            <li>
              <a href="#">Юридическая консультация по недвижимости</a>
            </li>
            <li>
              <a href="#">Юридическая консультация: развод</a>
            </li>
            <li>
              <a href="#">Консультация о разделе имущества</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Юридическая  консультация у метро Удельная</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
