<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-container">
      <div class="footer__col">
        <span>Адреса приема клиентов:</span>
      </div>
      <div class="footer__col">
        <span>Офис Гражданский:</span>
        <address>
          195220 Санкт-Петербург, Гражданский пр., д.22, офис 301.
          <a href="#">Тел. 534-16-43,+7(952) 355-77-11</a>
          <a href="#">mail@adveconspb.ru</a>
        </address>
      </div>
      <div class="footer__col">
        <span>в Приморском р-не:</span>
        <address>
          197341 Санкт-Петербург, ул. Аккуратова, 13, офис 209.
          <a href="#">Тел. +7(921)939-31-93</a>
          <a href="#">mail@adveconspb.ru</a>
        </address>
      </div>
      <div class="footer__col">
        <span>Выезд к клиенту:</span>
        <address>
          Место встречи назначается Вами
          <a href="#">Тел. 534-16-43</a>
          <a href="#">mail@adveconspb.ru</a>
        </address>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__container">
        <div class="footer__left">
          <small
            >© СПб 2001-2024, ООО Юридический центр ‘Адвекон’. Копирование
            запрещено, и мы умеем себя защитить.
          </small>
          <img src="./img/secure.webp" alt="" />
        </div>
        <div class="footer__right">
          <small>
            Информация на сайте не является публичной офертой и не может
            рассматриваться как публичное предложение к заключению договора.
            Персональные данные обрабатываются в соответствии с действующим
            законодательством РФ (Федеральный закон РФ от 27 июля 2006 года №
            152-ФЗ«О персональных данных»).
          </small>

          <div>
            <a href="#">Политика конфдециальности</a>
            <a href="#">Карта сайта</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
