<section class="help">
  <h4>Нужна помощь или консультация? Звоните нам!</h4>

  <div class="text1 help__subtitle">
    <p>Юридические услуги гражданам, ИП, организациям</p>
  </div>

  <ul class="help__items list-reset">
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/01.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">СУД</a>
        <div class="text1">
          Составление исковых заявлений, любых процессуальных документов.
          Судебные споры на любой стадии судебного процесса. Досудебное
          урегулирование споров. Установление фактов. Взыскание. Аресты и пр…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/02.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">адвокат</a>
        <div class="text1">
          Полная юридическая защита. Домашний адвокат. Защита в суде,
          на предварительном следствии, в дознании. Оказание помощи осуждённым.
          Условно-досрочное освобождение. Ведение гражданских и уголовных дел…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/03.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">земля</a>
        <div class="text1">
          Оформление права собственности на землю и дома, приватизация,
          купля-продажа, дарение. Наследование земельных участков. Разделение,
          объединение, выделение. Выкуп. Оформление паев и другое…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/04.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">дарение</a>
        <div class="text1">
          Дарение близким родственникам, иным гражданам. Сбор документов.
          Подготовка, сопровождение процедуры дарения. Помощь в регистрации
          в Санкт-Петербурге, Ленинградской, Псковской, Новгородской обл…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/05.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">недвижимость</a>
        <div class="text1">
          Купля-продажа, мена, обмен. Аренда. Дарение. Коммерческий найм,
          поднайм. Минимизация налогов. Выбор наиболее выгодного варианта
          передачи недвижимости. Сопровождение сделки. Регистрация в УФРС
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/06.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">договоры</a>
        <div class="text1">
          Составление всех видов договоров, иных деловых бумаг. Ведение
          переговоров с контрагентами, изменение условий договорённостей,
          подготовка документов. Выбор наиболее выгодной формы документа.
          Регистрация в УФРС…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/07.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">жилье</a>
        <div class="text1">
          Оформление собственности. Приватизация. Долевое строительство.
          Предоставление жилья. Перепланировки. Выселение, признание прав.
          Раздел имущества. Оценка имущества и многое другое…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/08.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">наследство</a>
        <div class="text1">
          Оформление права собственности, аренды. Составление проектов
          завещаний. Представление интересов у нотариуса, в суде. Сбор
          документов. Ведение споров за наследство, оспаривание завещаний…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/09.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">налоги</a>
        <div class="text1">
          Составление деклараций, любой отчётности. Расчёт налогов. Выбор
          выгодного пути при совершении операций с недвижимостью. Возврат
          из бюджета. Споры с налоговыми органами. Регистрация, постановка
          на учёт…
        </div>
      </div>
    </li>
    <li class="help__item">
      <div class="help__icon">
        <img src="./img/icons/10.svg" alt="" />
      </div>
      <div class="help__content">
        <a href="#">Долги</a>
        <div class="text1">
          Взыскание долгов. Защита от неправомерных взысканий. Работа
          с судебными приставами, органами опеки и попечительства Розыск
          имущества. Наложение арестов, запретов, пр. Исполнение решений…
        </div>
      </div>
    </li>
  </ul>
</section>
