<section class="hero">
  <h1>Юридический центр «АДВЕКОН»</h1>
  <div class="hero__text text2">
    <p>
      Многопрофильный юридический центр «АДВЕКОН» предлагает юридические услуги,
      консультации, защиту в суде.
    </p>
    <p>
      Тщательный подход к различным проблемам граждан, индивидуальных
      предпринимателей и организаций: от регистрации ООО до приватизации
      квартир, от расторжения брака до оформления наследства, в сфере жилищного,
      земельного и корпоративного права, защищаем в судах, в т.ч. в Арбитраже.
    </p>
  </div>

  <div class="hero__img">
    <img src="./img/hero.webp" alt="" />
  </div>

  <div class="hero__text text2">
    <p>
      Специалисты соблюдают профессиональную этику, тайну информации,
      добросовестность в работе, порядочность, радушие к каждому клиенту и
      высокую культуру обслуживания.
    </p>
    <p>
      Наработанный годами опыт в решении правовых проблем клиентов дает нам
      возможность говорить: здесь Вы получите серьезную юридическую
      консультацию, увидите профессионализм в работе юристов и адвокатов,
      почувствуете, что такое Справедливость.
    </p>
  </div>
</section>
