<div class="plug">
  <ul class="list-reset plug__list">
    <li>
      <a href="#">
        <img src="./img/plug/01.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./img/plug/01.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./img/plug/02.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./img/plug/03.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./img/plug/04.webp" alt="" />
      </a>
    </li>
  </ul>
</div>
