<div class="plug">
  <ul class="list-reset plug__list">
    <li>
      <a href="tel:+78125341643">
        <img src="./img/plug/01.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="tel:+79219595295">
        <img src="./img/plug/01.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="https://wa.me/79219393193" target="_blank">
        <img src="./img/plug/02.webp" alt="" />
      </a>
    </li>
    <li>
      <a href="/about/address/#h1">
        <img src="./img/plug/03.webp" alt="" />
      </a>
    </li>
    <li class="to-top">
      <a href="#">
        <img src="./img/plug/04.webp" alt="" />
      </a>
    </li>
  </ul>
</div>
