<aside class="right-aside">
  <div class="right-aside__block">
    <div class="right-aside__title">Отзывы</div>
    <div class="right-aside__testi">
      <p>
        Спасибо адвокату Черевковой, Ваша консультация оказалась настолько
        точной, что истец мгновенно передумал со мной судиться).
        <br /><br />
        Вечно Ваша, Ирина Сид.
      </p>
    </div>
    <div class="right-aside__testi">
      <p>
        Спасибо адвокату Черевковой, Ваша консультация оказалась настолько
        точной, что истец мгновенно передумал со мной судиться).
        <br /><br />
        Вечно Ваша, Ирина Сид.
      </p>
    </div>
  </div>
  <div class="right-aside__block">
    <div class="right-aside__title">Дополнительно</div>
    <div class="right-aside__extra">
      <ul>
        <li>
          <a href="#">Стоимость консультаций</a>
        </li>
        <li>
          <a href="#">Общие вопросы</a>
        </li>
        <li>
          <a href="#">Специальные вопросы</a>
        </li>
        <li>
          <a href="#">Вопросы повышенной сложности</a>
        </li>
        <li>
          <a href="#">Письменные консультации</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-aside__block">
    <div class="right-aside__title">Сертификаты</div>
    <h4 class="right-aside__capture">Работаем для Вас с 2001 года</h4>
    <p class="right-aside__text">
      Наша компания — одна из немногих, заслуживших сертификат "Петербургская
      марка качества"
    </p>
    <div class="right-aside__licens">
      <div data-fancybox="gallery" data-src="./img/sert/01.webp">
        <img src="./img/sert/01.webp" alt="" />
      </div>
      <div data-fancybox="gallery" data-src="./img/sert/02.webp">
        <img src="./img/sert/02.webp" alt="" />
      </div>
      <div data-fancybox="gallery" data-src="./img/sert/03.webp">
        <img src="./img/sert/03.webp" alt="" />
      </div>
    </div>
    <a href="#" class="right-aside__link"> Смотреть все сертификаты </a>
  </div>
  <a href="#" class="right-aside__consult">
    <img src="./img/consult.webp" alt="" />
  </a>

  <div class="right-aside__block">
    <div class="right-aside__title">Отзывы</div>
    <a href="" class="right-aside__otz">
      <img src="./img/otz.webp" alt="" />
    </a>
    <p class="right-aside__text centered">Отзывы о ЮЦ Адвекон</p>
  </div>

  <div class="right-aside__block">
    <div class="right-aside__title">Новости</div>
    <div class="right-aside__n">
      <a href="#" class="right-aside__news ra-news">
        <span class="ra-news__date">02.10.2024</span>
        <span class="ra-news__text">
          Мошенники взяли кредит, обманув клиента банка
        </span>
      </a>
      <a href="#" class="right-aside__news ra-news">
        <span class="ra-news__date">06.03.2023</span>
        <span class="ra-news__text">
          Судебный раздел приватизированного земельного участка при разводе
        </span>
      </a>
      <a href="#" class="right-aside__news ra-news">
        <span class="ra-news__date">07.12.2021</span>
        <span class="ra-news__text">
          Особые отметки и ограничения земельных участков
        </span>
      </a>
    </div>
    <div class="centered">
      <a href="#" class="right-aside__link"> Смотреть все новости </a>
    </div>
  </div>
  <a href="#" class="right-aside__dzen">
    <img src="./img/dzen.webp" alt="" />
  </a>
</aside>
