<section class="share">
  <div class="share__container">
    <div class="text1">
      <p>Поделитесь страницей с друзьями</p>
    </div>

    <div class="share__row">
      <a href="#">
        <img src="./img/soc/viber.svg" alt="" />
      </a>
      <a href="#">
        <img src="./img/soc/whatsapp.svg" alt="" />
      </a>
      <a href="#">
        <img src="./img/soc/tg.svg" alt="" />
      </a>
      <a href="#">
        <img src="./img/soc/ok.svg" alt="" />
      </a>
    </div>
  </div>
</section>
