<section class="temp-3 temp">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="#">Юридический центр "Адвекон"</a>
      </li>
      <li>
        <a href="#">Консультация</a>
      </li>
      <li>
        <a href="#">Юридическая консультация Гражданский 22</a>
      </li>
    </ul>
  </div>

  <h1>h1 Юридическая консультация на Гражданском 22</h1>
  <h2>
    h2 Более 20 лет Юридический центр «Адвекон» находится по этому же адресу, на
    3-м этаже бизнес-центра
  </h2>

  <h3>
    h3 «Адвекон на Гражданском» - это уважаемый бренд и гарантия выполнения
    договорных услуг.
  </h3>

  <h4>h4 Цены на услуги</h4>

  <div class="text1">
    <p>
      text Консультация создана в 2000 году. Юристы и приглашенные к
      сотрудничеству адвокаты, работающие в ней все эти годы, имеют еще больший
      стаж работы, чем сам юридический центр. Многолетний опыт позволяет решать
      сложные юридические вопросы, оставаясь в доступной ценовой категории.
      Молодые специалисты готовы выполнять несложные услуги по удобным тарифам.
    </p>
  </div>

  <div class="text1">
    link Стоимость платных консультаций - <a href="#">см. здесь.</a>
  </div>
  <ul>
    <li>Список</li>
    <li>нотариусы;</li>
    <li>агентство недвижимости;</li>
    <li>бюро переводов;</li>
    <li>копировальный центр</li>
  </ul>
  <ol>
    <li>Нумерованный список</li>
    <li>нотариусы;</li>
    <li>агентство недвижимости;</li>
    <li>бюро переводов;</li>
    <li>копировальный центр</li>
  </ol>
  <table>
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Заголовок</th>
        <th>Заголовок</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Значение</td>
        <td>Описание</td>
        <td>Описание длинное в две или или в тритритритритритри строки</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Заголовок</th>
        <th>Заголовок</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Значение</td>
        <td>Описание</td>
        <td>Описание длинное в две или или в тритритритритритри строки</td>
      </tr>
    </tbody>
  </table>
</section>
