<section class="testi">
  <div class="testi__container">
    <h2 class="testi__title">Отзывы о ЮЦ Адвекон</h2>
    <div class="testi__items">
      <div class="testi__item testi-item">
        <div class="testi-item__img">
          <img src="./img/testi/01.webp" alt="" />
        </div>
        <div class="testi-item__content">
          <div class="testi-item__rate text1">⭐⭐⭐⭐⭐</div>
          <div class="testi-item__text text2">
            <p>
              «хочу оставить отзыв о компании „Адвекон“, чтобы все могли принять
              решение работать с этой компанией. Отзыв 100-процентов
              положительный. Отличные профессионалы своего дела, серьёзные,
              отвечающие за свои слова, и просто хорошие люди. Могу
              порекомендовать эту фирму. Пользуюсь их услугами с 2005 года».
            </p>
            <p>ГК «Железнодорожник»</p>
          </div>
        </div>
      </div>
      <div class="testi__item testi-item">
        <div class="testi-item__img">
          <img src="./img/testi/02.webp" alt="" />
        </div>
        <div class="testi-item__content">
          <div class="testi-item__rate text1">⭐⭐⭐⭐⭐</div>
          <div class="testi-item__text text2">
            <p>
              "Мой отзыв об Адвеконе - самый положительный. Меня все устраивает.
              Договоры, оплата, удаленная работа, результат. Фирма никуда не
              переезжала за все годы, все тот же штат сотрудников, есть и
              новенькие. Нельзя сказать, что это развивающаяся компания. Это
              сформированная фирма со своими принципами, правилами работы и
              твердой позицией. Обращайтесь к ним. Не подведут!"
            </p>
            <p>ООО "Авангард Сервис", Ирина</p>
          </div>
        </div>
      </div>
      <div class="testi__item testi-item">
        <div class="testi-item__img">
          <img src="./img/testi/03.webp" alt="" />
        </div>
        <div class="testi-item__content">
          <div class="testi-item__rate text1">⭐⭐⭐⭐⭐</div>
          <div class="testi-item__text text2">
            <p>
              «Оцениваем работу специалистов Черевковой, Гавриловой и всей
              конторы — на 5. Сказали — сделали. Из трёх договоров 2 было
              выполнено раньше срока, третий — задержала документы налоговая.
              И что приятно: в конце работы вместе с актом выполненных работ
              дали рекомендацию „Памятка что делать дальше“. Это помогает
              каждый раз. С уважением к фирме ООО „ЮЦ «Адвекон»”, гл.бухгалтер
              ООО «Сигма»
            </p>
            <p>ООО «Сигма»</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
